<input type="text" class="form-control m-b" placeholder="Поиск региона" onkeypress="city_filter(this.value)">
<div id="regions">
<div class="clearfix"></div>
{{ range .Cities }}
<div class="item col-md-4" data-region="{{.Name}}">
  <div class="">
  <div class="card-block">
    <a href="/search?city={{.Name}}" class=""><h4 class="card-title">{{.Name}}</h4></a>
  </div>
</div>
</div>
{{end}}
</div>