<a href="/regions/{{.RegionId}}">{{.RegionName}}</a>

{{if .total}}<div class="m-t m-b">
Найдено результатов:  <b>{{.total}}</b> (Страница {{.currPage}} из {{.lastPage}})
</div>{{end}}
{{range $i,$v := .orgs}}
<div class="card list-search">
  <div>
    <a href="/{{.OGRN}}"><h4 class="card-title">{{if .ShortName}}{{.ShortName}}<br> <small>{{.FullName}}</small>{{else}}{{.FullName}}{{end}}  </h4></a>
    <p><b>ОГРН:</b> {{.OGRN}}{{if .INN}} <b>ИНН:</b> {{.INN}} {{end}}</p>
  </div>
</div>
{{if eq $i 9}}
{{else}}<hr>{{end}}
{{end}}
<nav>
  <ul class="pagination">
{{if not .paginater.IsFirst}}
<li><a href="/search?city={{$.searchCity}}&okved={{$.searchOkved}}&q={{$.searchQuery}}">Первая</a></li>{{end}}


{{range .paginater.Pages}}
    {{if eq .Num -1}}
      
    {{else}}
<li {{if .IsCurrent}}class="active"(current){{end}}><a href="/search?city={{$.searchCity}}&okved={{$.searchOkved}}&q={{$.searchQuery}}&p={{.Num}}">{{.Num}}</a></li>
    {{end}}
{{end}}


{{if not .paginater.IsLast}}
<li><a href="/search?city={{$.searchCity}}&okved={{$.searchOkved}}&q={{$.searchQuery}}&p={{.paginater.TotalPages}}">Последняя ({{.paginater.TotalPages}})</a></li>{{end}}
  </ul>
</nav>


