<div class="m-t m-b">
Организаций в базе: <b>{{.DocumentsCount}}</b>
</div>
<ul>
{{range $i,$v := .orgs}}
<li><a href="/{{.OGRN}}">{{.FullName}}</a>
{{if eq $i 9}}
{{else}}<hr>{{end}}
{{end}}	
</ul>
<nav>
  <ul class="pagination">
{{if not .paginater.IsFirst}}
<li><a href="/map">Первая</a></li>{{end}}


{{range .paginater.Pages}}
    {{if eq .Num -1}}
      
    {{else}}
<li {{if .IsCurrent}}class="active"(current){{end}}><a href="/map?p={{.Num}}">{{.Num}}</a></li>
    {{end}}
{{end}}


{{if not .paginater.IsLast}}
<li><a href="/map?p={{.paginater.TotalPages}}">Последняя ({{.paginater.TotalPages}})</a></li>{{end}}
  </ul>
</nav>


