<h1>{{.Title}}</h1>
<ul class="list-group">
	{{range .okveds.Parents}}
	<li class="list-group-item"><span class="label label-default label-pill">{{.Section}}</span> <img src="https://sigil.cupcake.io/{{.Id}}" height="20px" alt=""> <a href="/okveds/{{.Id}}">{{.Text}}</a> 
</li>
{{end}}
</ul>